@charset "UTF_8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor00: white;
    --cor01: lightgray;
    --cor02: #0669DE;
    --cor03: #C4170C;
    --cor04: #06AA48;
    --cor05: #FF6700;
    --cor06: #FB0334;
    --cor07: black;
}

nav{
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.globocom{
    color: var(--cor02);
}

.g1{
    color: var(--cor03);
}

.ge{
    color: var(--cor04);
}

.gshow{
    color: var(--cor05);
}

.globoplay{
    color: var(--cor06);
}

menu{
    background-color: var(--cor04);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu > a{
    background-color: var(--cor04)
}

menu > a > i{
    background-color: var(--cor04);
    color: var(--cor00);
}

section > article{
    width: 90vw;
    margin: auto;
}

h1{
    color: var(--cor04);
    margin: 15px 0px;
    font-size: 20pt;
    text-align: justify;
}

.imagem{
    width: 90vw;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: auto;
}

.paragrafo{
    text-align: start;
    width: 90vw;
    padding: 10px;
}

#botao{
    background-color: #06AA48;
    border-radius: 5px;
    color: var(--cor00);
    padding: 5px 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

footer{
    background-color: var(--cor04)
}

.titulo_footer{
    color: var(--cor00);
    padding: 2px 5px;
}


.paragrafo_footer{
    margin-top: 20px;
    color: var(--cor00);
    padding: 2px 5px;
}

