@charset "UTF_8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor00: white;
    --cor01: lightgray;
    --cor02: #0669DE;
    --cor03: #C4170C;
    --cor04: #06AA48;
    --cor05: #FF6700;
    --cor06: #FB0334;
    --cor07: black;
}

nav{
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.globocom{
    color: var(--cor02);
}

.g1{
    color: var(--cor03);
}

.ge{
    color: var(--cor04);
}

.gshow{
    color: var(--cor05);
}

.globoplay{
    color: var(--cor06);
}

menu{
    background-color: var(--cor04);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu > a{
    background-color: var(--cor04)
}

menu > a > i{
    background-color: var(--cor04);
    color: var(--cor00);
}

section#container{
    display: grid;
    grid-template-columns: auto 95vw auto;
}

article.grid_article{
    grid-column: 2 / 3;
}

.img_oculta{
    display: none;
}

div.container{
    display: flex;
}

h1{
    color: var(--cor04);
    margin: 15px 0px;
    font-size: 20pt;
    text-align: justify;
}

article > p{
    margin: 15px 0px 15px 0px;
}

div > img {
    width: 95vw;
    margin: 15px 0px 15px 0px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.div_container{
    display: flex;
    flex-direction: row;
}

.img02{
    width: 50vw;
}

.span_flex{
    width: 50vw;
    text-align: justify;
    padding: 0px 10px;
}

.portrait_ocult{
    display: none;
}

.veja_mais{
    background-color: var(--cor04);
    color: var(--cor00);
    font-weight: bold;
    font-size: 15pt;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 30vw;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.veja_mais:hover{
    background-color: #046e2e;
    transition: 1s;
    cursor: pointer;
}

footer{
    background-color: var(--cor04)
}

.titulo_footer{
    color: var(--cor00);
    padding: 20px 10px;
    font-size: 30pt;
    font-weight: bold;
}

.paragrafo_footer{
    margin-top: 20px;
    color: var(--cor00);
    padding: 2px 5px;
}

.titulo_footer , .paragrafo_footer:hover{
    cursor: pointer;
}

